a, abbr, acronym, address, applet, big, blockquote, body, caption, cite,
code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5,
h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre,
q, s, samp, small, span, strike, strong, sub, sup,
table, tbody, td, tfoot, th, thread, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 110%;
  color: white;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
a img {
  border: none;
}
body {
  display: block;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: 1;
  color: white;
  background: black;
}
table {
  border-collapse: separate;
  border-radius: 4px;
  border-spacing: 0;
  vertical-align: middle;
}
input {
  font-family: inherit;
  font-size: 15px;
  color: black;
}
caption, td, th {
  text-align: middle;
  font-weight: normal;
  vertical-align: middle;
}
/* reset html5 */
article, aside, canvas, details, figcaption,
  figure, footer, header, hgroup, menu, nav,
  section, summary, main {
  display: block;
}
audio:not([controls]),[hidden] {
  display: none;
}
.signinblock {
  text-align: center;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 6px;
  width: 500px;
  height: 240px;
  position: absolute;
  display: block;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: 1;
  color: rgb(44, 44, 44);
  background: rgb(44, 44, 44);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signupblock {
  text-align: center;
  border: 1px solid rgb(44, 44, 44);
  border-radius: 6px;
  width: 500px;
  height: 300px;
  position: absolute;
  display: block;
  align-items: center;
  align-self: center;
  justify-content: center;
  line-height: 1;
  color: rgb(44, 44, 44);
  background: rgb(44, 44, 44);
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.signinbutton {
  background-color: #177ddc;
  border: 1px solid #177ddc;
  border-radius: 4px;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s ease;
}
.signinbutton:hover {
  background-color: #0e5a9c;
  border: 1px solid #0e5a9c;
}
.signupbutton {
  background-color: rgba(44, 44, 44, 1);
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s ease;
}
.signupbutton:hover {
  background-color: rgba(44, 44, 44, 0.8);
  color: rgb(85, 158, 235);
  border: 1px solid rgb(85, 158, 235);
}
.multibuttonblock {
  background-color: rgba(65, 64, 64, 0);
  display: flex;
  justify-content: center;
  gap: 15px;
}