.block {
    text-align: center;
    display: block;
    align-items: center;
    align-self: center;
    justify-content: center;
    line-height: 1.5;
    color: rgba(65,64,64,0);
    background: rgba(0,0,0,0);
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.background {
    background-color: rgba(20,20,20,1);
    color: rgba(20,20,20,1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite,
code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5,
h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre,
q, s, samp, small, span, strike, strong, sub, sup,
table, tbody, td, tfoot, th, thread, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 110%;
  color: white;
  vertical-align: baseline;
}